<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <twofactorauth>
            <general>
                <disable_in_developer_mode>1</disable_in_developer_mode>
            </general>
        </twofactorauth>
    </default>
</config>
