<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\TwoFactorAuth\Model\AdminAccessTokenService">
        <plugin name="bypassTwoFactorAuthForApiTokenGeneration"
                type="MarkShust\DisableTwoFactorAuth\Plugin\BypassTwoFactorAuthForApiTokenGeneration"/>
    </type>
    <type name="Magento\TwoFactorAuth\Model\TfaSession">
        <plugin name="bypassTwoFactorAuthForAdmins"
                type="MarkShust\DisableTwoFactorAuth\Plugin\BypassTwoFactorAuthForWebsiteOrSomeUser"/>
    </type>

    <preference
        for="MarkShust\DisableTwoFactorAuth\App\Config\TwoFactorAuthInterface"
        type="MarkShust\DisableTwoFactorAuth\Model\Config\TwoFactorAuthConfig"
    />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="markshust_disabletwofactorauth_disable_two_factor_auth_admin_command" xsi:type="object">
                    MarkShust\DisableTwoFactorAuth\Console\Command\DisableTwoFactorAuthAdminCommand
                </item>
                <item name="markshust_disabletwofactorauth_enable_two_factor_auth_admin_command" xsi:type="object">
                    MarkShust\DisableTwoFactorAuth\Console\Command\EnableTwoFactorAuthAdminCommand
                </item>
            </argument>
        </arguments>
    </type>

</config>
